
html{
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -ms-box-sizing:border-box;
    -o-box-sizing:border-box;
    box-sizing:border-box;
    font-size:18px;
    height:100%;
    overflow-y:-moz-scrollbars-vertical;
    overflow-y:scroll
 }
 *,*:before,*:after{
    -webkit-box-sizing:inherit;
    -moz-box-sizing:inherit;
    -ms-box-sizing:inherit;
    -o-box-sizing:inherit;
    box-sizing:inherit
 }
 body{
    font-family: "Roboto";
    color:#000000;
    font-family:'Open Sans', sans-serif;
    line-height:1.278;
    margin:0;
    min-height:100%;
    padding:0;
    display:-webkit-box;
    display:-ms-flexbox;
    display:-webkit-flex;
    display:flex;
    -webkit-box-orient:vertical;
    -webkit-flex-direction:column;
    -ms-flex-direction:column;
    flex-direction:column;
    -webkit-transition:none;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale
 }
 .outer-container{
    display:block;
    position:relative;
    -webkit-box-flex:1;
    -ms-flex:1 0 auto;
    flex:1 0 auto;
    -webkit-flex:1 0 auto
 }
 .wrapper{
    box-sizing:border-box;
    padding-bottom:0;
    padding-top:0;
    position:relative
 }
 .error-404 .wrapper{
    padding-right:30px
 }

 .section{
    padding:50px 0
 }
 .section.gray{
    background-color:#e9eaea
 }
 @media all and (min-width:1600px){
    .section{
        padding:100px 0
    }
 }
 footer.site-footer{
    background-color:#f9f9f9;
    background-image:url(../static/logo.png);
    background-position:97% 54%;
    background-position:calc(100% - 30px) 54%;
    background-position:right 30px 54%;
    background-size:75px 18px;
    background-repeat:no-repeat;
    min-height:90px;
    position:relative;
    text-align:right;
    z-index:9
 }
 .lt-ie10 footer.site-footer{
    background-image:url(../static/logo.png)
 }
 .investor{
    padding-top:70px
 }
 .hide,.hide-inline{
    display:none
 }
 .lt-ie9 .hide{
    display:block
 }
 .lt-ie9 .hide-inline{
    display:inline
 }
 .lt-ie9 .read-more{
    display:none
 }
 .lt-ie9 .ellipsis{
    display:none
 }
 p{
    margin-top:0
 }
 .copy a.read-more{
    color:#ed1c24;
    text-decoration:none
 }
 .copy a.read-more:hover{
    color:#7f0a0f
 }
 .copy a{
    color:#757575;
    text-decoration:underline
 }
 .copy a:hover{
    color:darker(#757575,20%)
 }
 .copy a.hidden-link{
    color:inherit;
    cursor:text;
    text-decoration:none
 }
 .copy a.hidden-link:hover{
    color:inherit;
    cursor:text;
    text-decoration:none
 }
 h1{
    font-size:26px;
    font-weight:normal;
 }
 h1 a{
    color:#ed1c24;
    text-decoration:none
 }
 h3 {
    font-weight:300;
 }
 h1 a:hover{
    color:#757575
 }
 .share{
   height: auto;
   width: 18px;
   padding-left: 2px;
 }
 #logo{
    background-repeat:no-repeat;
    background-position:0 0;
    color:transparent;
    font:0 / 0 a;
    text-shadow:none;
    background-size:100px 24px;
    right:36px;
    position:absolute;
    top:27px;
    width:126px;
    z-index:999
 }
 #logo img{
    image-rendering:optimizeQuality
 }
 .lt-ie9 #logo{
    background-image:url(../static/logo.png)
 }
 #gicon{
    margin-bottom:-70px;
    margin-left:-95px;
    width:200px;
    image-rendering:optimizeQuality
 }
 @media all and (max-width:1280px){
    #gicon{
        margin-bottom:-60px;
        margin-left:-78px;
        width:166px
    }
 }
 @media all and (max-width:930px){
    #gicon{
        margin-bottom:-50px;
        margin-left:-68px;
        width:145px
    }
 }
 @media all and (max-width:850px){
    #gicon{
        margin-bottom:-45px;
        margin-left:-59px;
        width:128px
    }
 }
 @media all and (max-width:700px){
    #gicon{
        margin-left:-59px;
        width:128px
    }
 }
 #forgoogle{
    background-repeat:no-repeat;
    background-position:0 0;
    color:transparent;
    font:0 / 0 a;
    text-shadow:none;
    background:url(../img/forgoogle-large_2x.png) 0 0 no-repeat;
    background-size:260px 49px;
    height:49px;
    margin-bottom:21px;
    position:relative;
    width:260px;
    image-rendering:optimizeQuality
 }
 @media all and (max-width:700px){
    #forgoogle{
        background:url(../img/forgoogle-medium_2x.png) 0 0 no-repeat;
        background-size:230px 43px;
        height:43px;
        width:230px
    }
 }
 @media all and (max-width:449px){
    #forgoogle{
        background:url(../img/forgoogle-small_2x.png) 0 0 no-repeat;
        background-size:190px 36px;
        height:36px;
        width:190px
    }
 }
 .lt-ie9 #forgoogle{
    background-image:url(../img/forgoogle-large_1x.png)
 }
 @media all and (max-width:700px){
    .lt-ie9 #forgoogle{
        background-image:url(../img/forgoogle-medium_1x.png)
    }
 }
 @media all and (max-width:449px){
    .lt-ie9 #forgoogle{
        background-image:url(../img/forgoogle-small_1x.png)
    }
 }
 #forgoogle:after{
    display:none;
    content:url(../img/forgoogle-large_2x.png) url(../img/forgoogle-large_1x.png) url(../img/forgoogle-medium_2x.png) url(../img/forgoogle-medium_1x.png) url(../img/forgoogle-small_2x.png) url(../img/forgoogle-small_1x.png)
 }
 #signature{
    margin-left:-15px;
    margin-top:20px;
    max-width:80%
 }
 @media all and (max-width:1024px){
    #signature{
        max-width:100%
    }
 }


 /* header */

 .header {
   background-color: #fff;
   box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
   position: fixed;
   width: 100%;
   z-index: 3;
   top:0px!important;
 }

 .header ul {
   margin: 0;
   padding: 0;
   list-style: none;
   overflow: hidden;
   background-color: #fff;
 }

 .header li a {
   display: block;
   padding: 20px 20px;
   border-right: 1px solid #f4f4f4;
   text-decoration: none;
   color: #000;
 }

 .header li a:hover,
 .header .menu-btn:hover {
   background-color: #f4f4f4;
 }

 .header .logo {
   display: block;
   float: left;
   font-size: 1em;
   padding: 20px 20px;
   text-decoration: none;
 }

 /* menu */

 .header .menu {
   clear: both;
   max-height: 0;
   transition: max-height .2s ease-out;
   padding-left: 36px;
 }

 /* menu icon */

 .header .menu-icon {
   cursor: pointer;
   display: inline-block;
   float: right;
   padding: 40px 20px;
   position: relative;
   user-select: none;
 }

 .header .menu-icon .navicon {
   background: #333;
   display: block;
   height: 2px;
   position: relative;
   transition: background .2s ease-out;
   width: 18px;
 }

 .header .menu-icon .navicon:before,
 .header .menu-icon .navicon:after {
   background: #333;
   content: '';
   display: block;
   height: 100%;
   position: absolute;
   transition: all .2s ease-out;
   width: 100%;
 }

 .header .menu-icon .navicon:before {
   top: 5px;
 }

 .header .menu-icon .navicon:after {
   top: -5px;
 }

 /* menu btn */

 .header .menu-btn {
   display: none;
 }

 .header .menu-btn:checked ~ .menu {
   max-height: 240px;
 }

 .header .menu-btn:checked ~ .menu-icon .navicon {
   background: transparent;
 }

 .header .menu-btn:checked ~ .menu-icon .navicon:before {
   transform: rotate(-45deg);
 }

 .header .menu-btn:checked ~ .menu-icon .navicon:after {
   transform: rotate(45deg);
 }

 .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
 .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
   top: 0;
 }

 /* 48em = 768px */

 @media (min-width: 100em) {
   .header li {
     float: left;
   }
   .header li a {
     padding: 20px 30px;
     color: #000;
   }
   .header .menu {
     clear: none;
     float: right;
     max-height: none;
   }
   .header .menu-icon {
     display: none;
   }
 }



 .column {
   float: left;
   width: 33.33%;
   max-width: 150px;
 }
 .text-container{
    padding-left: 100px;
    padding-right: 100px;
 }
 .banner {
    margin-top: 70px;
 }
 .row:after {
   content: "";
   display: table;
   clear: both;
 }
 .responsive {
   width: 100%;
   height: auto;
 }
 .caption {
     text-align:center;
 }
 .startup {
   margin-top:100px
 }
 .startup .name {
   font-weight: bold;
   display:inline;
 }
 .startup .text {
   font-family: 'Anonymous Pro', monospace;
 }
 #ux {
   padding:100px;
 }
 @media all and (max-width:600px){
   .banner {
     margin-top:100px;
   }
   .startup {
     margin-top:130px
   }
   .column {
     /* width: 100%; */
     }
     .text-container{
         max-width:500px;
         padding-left: 50px;
         padding-right: 50px;
     }
     .wrapper{
        padding-top:0;
     }
 }