.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.menu-item {
  padding: 0 40px;
  margin: 5px 10px;
  user-select: none;
  cursor: pointer;
  border: none;
}
.menu-item-wrapper.active {
  border: 1px white solid;
}
.menu-item.active {
  border: transparent;
}
 
.scroll-menu-arrow {
  padding: 20px;
  cursor: pointer;
}

.Menu{
  min-height: 80px;
  z-index: 10;
}
@media all and (min-width:850px){
  .Menu{
    margin-top: -100px;
  }
}
@media all and (max-width:850px){
  .Menu{
    margin-top: -70px;
  }
}